<!-- <h2>About Me</h2> -->
<p>I live and work in <a href="https://www.openstreetmap.org/search?query=köln">Cologne, Germany.</a></p>

<h2>Facts</h2>
<ul>
  <li>Education: <a href="https://www.th-koeln.de">Master of Science</a></li>
  <li>Experience: <a href="https://www.linkedin.com/in/eduard-litau-7a782318/">Web Development</a></li>
  <li>Interests: <a href="/assets/thesis.pdf">Testable Software</a>, <a href="https://www.ruby-lang.org">Ruby</a>, <a href="http://elixir-lang.org/">Elixir</a></li>
</ul>

<!-- <p>For more information, including setup and configuration instructions, bug reports or feature requests head over to <a href="https://github.com/excentris/compass">GitHub</a>.</p> -->

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/elitau">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/eduard-litau-7a782318/">LinkedIn</a>
  </li>
</ul>
